#workout-btn {
    font-size: 5em;
    text-align: center;
    padding: 30px;
}

.light-gray-bg {
    background-color: #f0f0f0;
}

.yes {
    display: none;
}

.bg-green-500{
    background-color: #55ff37;
}



